[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "==3.0.0"
gunicorn = "==21.2.0"
psycopg2-binary = "*"
sqlalchemy = "*"
flask-cors = "*"
python-dotenv = "*"
flask-sqlalchemy = "*"
flask-migrate = "*"
sqlalchemy-serializer = "*"
flask-bcrypt = "*"

[dev-packages]
black = "*"
isort = "*"
flake8 = "*"
pytest = "==7.4.2"
pytest-cov = "==4.1.0"

[requires]
python_version = "3.12"
