[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
gunicorn = "==21.2.0"
psycopg2-binary = "*"
sqlalchemy = "*"
flask-cors = "*"
python-dotenv = "*"
flask-sqlalchemy = "*"
flask-migrate = "*"
sqlalchemy-serializer = "*"
flask-bcrypt = "*"
faker = "*"
flask-restful = "*"
marshmallow-sqlalchemy = "*"
flask-jwt-extended = "*"
flask-marshmallow = "*"

[dev-packages]
black = "*"
isort = "*"
flake8 = "*"
pytest = "*"
pytest-cov = "*"

[requires]
python_version = "3.12"
